
<h1>Listing</h1>

<p><%= @listing.title %></p>
<p><%= @listing.description %></p>
<p>$<%= @listing.price %></p>
<p><%= @listing.condition %></p>

<a href="/listings/<%= @listing.id%>/edit">Edit Listing</a>
<br>
<form action="/listings/<%= @listing.id%>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Listing">
</form>
<br>
<form action="/listing/<%= @listing.id%>" method="post">
<input type="text" name="comment">
<input type="submit" value="Comment">
<br>

<a href='/listings'><button type="button" class="btn btn-success">Home</button></a>



